* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column; /* 콘텐츠가 세로로 배치되도록 수정 */
    justify-content: flex-start; /* 상단에 정렬 */
    align-items: center;
    text-align: center;
    padding: 10px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #333; /* 헤더 배경색 */
    color: white;
    margin-bottom: 20px;
}

.logo {
    font-size: 2rem;
    margin-right: 10px;
}

.site-name {
    font-size: 2rem;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.greeting {
    font-size: 2rem;
    margin-top: 20px;
}

/* 모바일 (핸드폰) 화면 */
@media (max-width: 600px) {
    .greeting {
        font-size: 1.5rem;
    }

    .image {
        max-width: 100%;
    }

    .logo, .site-name {
        font-size: 1.5rem;
    }
}

/* 아이패드 화면 */
@media (max-width: 768px) {
    .greeting {
        font-size: 1.8rem;
    }

    .image {
        max-width: 100%;
    }

    .logo, .site-name {
        font-size: 1.8rem;
    }
}

/* 데스크탑 화면 */
@media (min-width: 1024px) {
    .greeting {
        font-size: 2.5rem;
    }

    .logo, .site-name {
        font-size: 2.5rem;
    }
}
